.encabe {
    background: #EE340D ;
    border-radius: 7px;
    margin: 20px;
    color:aliceblue;
    padding: 20px;
    font-family:cursive;
    text-align: center;
}
body{
    background:#F7F7F7 ;
}
.calculo{
align-content: center;
background: #33E6FF;
padding: 10px;
margin: 50px;
width: 1450px;
border-color: #33E6FF;
font-family: cursive;

}
.enviar{

background:#84BBC2 ;
border-radius: 7px;
border-bottom-color: 
}

.calculo {
}